.footer-section{
    @include breakpoint(){
        background-color: $black;
        padding: 90px 0;
    }
    @include breakpoint(375px){
        padding: 90px 0;
    }
    @include breakpoint(768px){
        padding: 106px 0;
    }
}

body{
    // background: black;
    // margin-top: 20px;
}