//	Breakpoints
$iphone_se: 320px;
$iphone_v6: 375px;
$iphone_plus: 414px;
$mobile_landscape: 500px;
$tablet: 768px;
$tablet_landscape: 900px;
$small_desktop: 1024px;
$hd_ready: 1280px;
$medium_desktop: 1366px;
$large_desktop: 1440px;
$large_x_desktop: 1680px;
$full_hd: 1920px;

//	COLORS
$black : #000;
$mine_shaft : #222;
$mine_shaft_v2 : #212121;
$cornflower : #26CBD5;
$cornflower-light: #B0EEF0;
$egg_blue: #00C2D4;
$blue : #109DFF;
$blue_v2: #0AA3DB;
$yellow : #FFEB0A;
$orange: #FA5714;
$orange_v2: #F36C35;
$light-gray: #F2F2F2;
$dark_gray : #DEE3E3;
$gray : #A2A7AD;
$sienna : #e8554d;
$white : #fff;

//	SIZES & DIMENSIONS
$dim_x_large: 60px;
$dim_large: 40px;
$dim_normal: 32px;
$dim_med: 24px;
$dim_regular: 16px;
$dim_small: 12px;

//	FONT SIZES
$font_x_small: 8px;
$font_small: 12px;
$font_regular: 16px;
$font_regular_v2: 18px;
$font_big: 24px;
$font_x_big: 38px;
$font_x_large: 40px;
$font_x_huge: 56px;

//	FONT FAMILY
$font_v1 : "Graphik";

//	FONT WEIGHTS
$weight_thin: 100;
$weight_light: 300;
$weight_regular: 400;
$weight_medium: 500;
$weight_bold: 600;
$weight_heavy: 700;
$weight_x_bold: 800;
$weight_black: 900;